body {
  font-family: "Short Stack", cursive;
}

form {
  display: block;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 10px;
}
h1 {
  margin: 40px 30px 20px 30px;
  color: #64c4ed;
  font-size: 48px;
}

h2 {
  margin: 0px 50px;
  font-size: 20px;
  color: #1b345a;
  position: relative;
  bottom: 70px;
  left: 230px;
}

h3 {
  font-size: 16px;
  margin: -80px 0px 0px 0px;
}

h6 {
  font-size: 14px;
  margin: 0px 50px;
}
.weather-app-whole {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: #4f81c7;
}

.row {
  font-size: 48px;
  margin: 50px 0px;
  color: #f0d78c;
}

.temperature {
  font-size: 18px;
  color: #1b345a;
  margin: 0px 10px;
}
.temperature-max {
  font-size: 16px;
}

.temperature-min {
  font-size: 16px;

  opacity: 0.6;
}

.day {
  font-size: 14px;
  color: #64c4ed;
  margin: 10px;
}
btn {
  display: block;
  margin: -33px 300px 20px;
  position: relative;
  top: 10px;
}
